<% if @form.errors.any? %>
  <%= @form.errors.each do |error| %>
    <div>
      <%= error.full_message %>
    </div>
  <% end %>
<% end %>

<%= form_with model: @form, url: login_session_path, data: {turbo: false} do |f| %>
  <%= f.label :email, "email" %>
  <%= f.email_field :email %>

  <%= f.label :password, "password" %>
  <%= f.password_field :password %>

  <%= f.submit "ログイン", disable_with: 'ログイン中...' %>
<% end %>
